<h1>Cocktails Galore</h1>
<% @cocktails.each do |cocktail| %>
  <p>Name: <%= cocktail.name %></p>
  <p>Ingredients required<%= cocktail.ingredients.name %></p>
  <p>Doses<%= cocktail.doses.description %></p>
<% end %>
