<h1>Add a new Cocktail</h1>

<%= simple_form_for(@cocktail) do |f| %>
  <%= f.input :name %>
  <%= f.input :photo, as: :file %>
  <button type="button" class="btn btn-primary btn-sm">
    <%= f.submit %>
  </button>
<% end %>
