<h1>Choose your Poison</h1>

<%= simple_form_for([@cocktail, @dose]) do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient %>
  <button type="button" class="btn btn-success"><%= f.button :submit %></button>
<% end %>


